@mixin shadow-offset {
    box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.15);
}

@mixin shadow {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

@mixin customtitle($font-size) {
    font-family: 'Shrikhand', cursive;
    font-size: $font-size+rem;
}