@mixin shadow-offset {
    box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.15);
}

@mixin shadow {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

@mixin shadow-over {
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
}

@mixin customtitle($font-size) {
    font-family: 'Shrikhand', cursive;
    font-size: $font-size+rem;
}

/* MEDIA QUERIES */
@mixin xs {
    @media screen and (min-width: 480px) {
        @content;
    }

}
@mixin md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 960px) {
        @content;
    }
}