.category {
    margin-top: 3rem;

    &__title {
        font-weight: 300;

        &::after {
            content: "";
            display: block;
            width: 4ch;
            height: 3px;
            margin-top: 6px;
            background-color: map-get($colors, 'accent');
        }
    }
}