.footer {
    padding: 2rem 0 3rem;
    background-color: map-get($colors, 'gray-900');
    font-weight: 400;
    color: white;

    &__brand {
        @include customtitle(1.8);
    }

    &__list {
        margin-top: 2rem;
    }

    &__item {
        margin-top: 1rem;
    }

}