.instructions {
    padding: 5rem 0 6.6rem;

    &__title {
        font-size: 2.4rem;
    }

    &__list {
        margin-top: 3rem;
        counter-reset: step;
    }

    &__step {
        position: relative;
        margin-top: 2rem;
        padding-left: 1.2rem;
        counter-increment: step;

        &::after {
            content: counter(step);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: calc(50% - 1.2rem);
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background-color: map-get($colors, 'primary');
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }
    }

}