.btn {
    display: inline-block;
    padding: 1.6rem 2.4rem;
    background: linear-gradient(
        to bottom,
        map-get($colors, 'secondary'),
        map-get($colors, 'primary')
    );
    color: white;
    font-size: 1.5rem;
    font-weight: 500;

    @include shadow;

    &--rounded {
        border-radius: 10rem;
    }
}