.card {
    position: relative;
    overflow: hidden;
    @include shadow-offset;

    &--default {
        border-radius: 1.6rem;
    }

    &--inline {
        display: flex;
        align-items: center;
        padding: 2.6rem 2rem 2.6rem 2.6rem;
        border-radius: 2rem;
        background-color: map-get($colors, 'gray-200');

        @include md {
            flex-direction: column;
            height: 100%;
        }

        &:hover {
            background-color: lighten(map-get($colors, 'primary'), 35%);

            .card__icon {
                color: map-get($colors, 'primary');
            }
        }
    }

    &--info {
        display: flex;
        margin-top: 1.6rem;
        padding: 1rem;
        border-radius: 1.2rem;
        background-color: white;
        cursor: pointer;
        @include shadow;

        &:hover .card__slider {
            transform: translateX(0);
        }
    }

    &__image {
        height: 0;
        padding-top: 52.4%;
        position: relative;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__body {

        &--inline {
            display: flex;
            padding: 1.8rem 1.4rem;
        }

    }

    &__infos {
        flex: 1;
    }

    &__icon {
        width: 3rem;
        text-align: center;
        font-size: 2rem;
        color: map-get($colors, 'gray-700');

        @include md {
            margin-bottom: 1.4rem;
            font-size: 3rem;
        }
    }

    &__label {
        margin-left: 2rem;
        font-weight: 500;

        @include md {
            margin-left: unset;
            text-align: center;
        }
    }

    &__description {
        flex: 1;
        text-overflow: ellipsis;

        p {
            margin-top: 0.6rem;
            font-size: 1.5rem;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 2.4rem;
    }

    &__slider {
        display: flex;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(6rem);
        transition: transform 0.25s ease-in-out;
        background: linear-gradient(
            90deg,
            transparent,
            white 2.4rem
        );
    }

    &__price {
        width: auto;
        align-self: flex-end;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 2.4rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__check {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        font-size: 2rem;
        background-color: map-get($colors, 'accent');
        color: white;
    }

}