.card {
    position: relative;
    overflow: hidden;
    @include shadow;

    &--default {
        margin-top: 2rem;
        border-radius: 1.6rem;
    }

    &--inline {
        display: flex;
        align-items: center;
        padding: 2.6rem 2rem 2.6rem 2.6rem;
        border-radius: 2rem;
        background-color: map-get($colors, 'gray-200');
    }

    &__image {
        height: 0;
        padding-top: 52.4%;
        position: relative;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__body {

        &--inline {
            display: flex;
            padding: 1.8rem 1.4rem;
        }

    }

    &__infos {
        flex: 1;
    }

    &__icon {
        width: 3rem;
        text-align: center;
        font-size: 2rem;
        color: map-get($colors, 'gray-700');
    }

    &__label {
        margin-left: 2rem;
        font-weight: 500;
    }

    &__cta {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 2.2rem;
    }

}